@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@layer base {
  html {
    font-family: "Inter";
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

body {
  margin: 0;
  background: #F6F6F6;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div::-webkit-scrollbar, form::-webkit-scrollbar {
  width: 6px;
  border-radius: 16px;
  margin-right: 4px;
}

div::-webkit-scrollbar-thumb, form::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 16px
}